{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Food App{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'food/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <header class="bg-white shadow-sm">
      <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="border-b border-gray-200">
          <div class="flex h-16 items-center justify-between">

            <!-- Logo -->
            <div class="flex items-center">
              <a href="{% url 'food:index' %}">
                <span class="sr-only">Food App</span>
                <img src="{% static 'food/logo.jpg' %}" alt="" class="h-16 w-auto object-contain" />
              </a>
            </div>

            <!-- Pages -->
            <div class="flex space-x-8">
              <a href="{% url 'food:index' %}" class="text-sm font-medium text-gray-700 hover:text-gray-900">Home</a>
            </div>

            <!-- Add -->
            <div class="flex items-center space-x-4">
              <!-- Add Item -->
                <a href="{% url 'food:create_item' %}" class="text-sm font-medium text-gray-700 hover:text-gray-900">Add Item</a>
            </div>

          </div>
        </div>
      </nav>
    </header>
    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
